@import "styles/variables";
@import "styles/mixins";

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $c-bg-control;
  border: 2px solid $c-bg-control;
  padding: 7px 18px 9px;
  border-radius: 4px;
  transition: 0.25s ease all;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;

  &:active, &:hover {
    background-color: $c-bg-control-hovered;
    border-color: $c-bg-control-hovered;
    outline: none;
  }

  &:focus {
    outline: none;
    border-color: $c-border-control-focused;
  }

  &:disabled {
    background-color: $c-bg-disabled;
    border-color: $c-bg-disabled;
    color: $c-text-disabled;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-left: -4px;
    width: 12px;
    height: 12px;

    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__text {
    padding-top: 1px;
    text-decoration: none;
  }
}

.Button_theme_yellow {
  background-color: $c-bg-action;
  border: 2px solid $c-bg-action;

  &:active, &:hover {
    background-color: $c-bg-action-hovered;
    border-color: $c-bg-action-hovered;
    outline: none;
  }

  &:focus {
    outline: none;
    border-color: $c-border-action-focused;
  }

  &:disabled {
    background-color: $c-bg-disabled;
    border-color: $c-bg-disabled;
    color: $c-text-disabled;
  }
}

.Button_size_sm {
  padding: 4px 14px 4px;
}

.Button_width_responsive {
  width: 100%;
}

.Button_only-icon {
  padding-left: 7px;
  padding-right: 7px;
  height: 28px;
}

.Button_adapt_with-icon {
  @include media-breakpoint-xs {
    padding: 6px 6px;
    height: auto;

    .Button {
      &__icon {
        margin: 0;
      }

      &__text {
        display: none;
      }
    }
  }
}