.StartMessage {
  &__image-wrap {
    text-align: center;
    margin-bottom: 28px;
  }

  &__text {
    text-align: center;
    font-size: 13px;
    line-height: 1.25;
    margin-bottom: 25px;
  }

  &__button {
    text-align: center;
  }
}